body{
    background-color: blanchedalmond;
}

.principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#informacion{
    text-align: center;
}

a[href*=".edu"]{
    background-color: rgb(79, 70, 122);
}

h1:hover{
    color: brown;
}

.principal::first-line{
    background-color: cadetblue;
}